@import url('./variables.css');
@import url('./header.css');

* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 3%;
    color: var(--LetraOscura);
}

section {
    display: flex;
    flex-wrap: wrap;
    height: 250vh;
    justify-content: space-evenly;
    padding-top: 3%;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
    width: 35%;
    background-color: var( --FondoClaro);
    height: 30%;
    box-shadow: 2px 7px 40px -1px rgba(0,0,0,0.85);
    padding: 3% 2%;
}

h3, p, footer {
    color: var(--LetraClara);
}

h3 {
    font-size: 25px;
}

p {
    margin-top: 3%;
    font-size: 17px;
}

.imagen {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 5% 0;
    background-repeat: no-repeat;
}

.golden {
    background-image: url('../img/golden.jpg');
    background-position: 75% 8%;
}

.aleman {
    background-image: url('../img/ovejero_aleman.jpg');
    background-size: 160%;
}

.husky {
    background-image: url('../img/husky_siberiano.jpg');
}

.napolitano {
    background-image: url('../img/mastin_napolitano.jpg');
    background-size: 160%;
    background-position: 40%;
}

.groenendael {
    background-image: url('../img/ovejero_belga_groenendael.jpg');
    background-size: 100%;
    background-position: 10%;
}

.tervueren{
    background-image: url('../img/ovejero_belga_tervueren.jpg');
    background-size: 215%;
    background-position: 60%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--FondoOscuro);
    height: 55px;
    margin-top: 5%;
}

a {
    text-decoration: none;
}

footer a {
    color: var(--FondoClaro);
}

li a {
    color: var(--LetraClara);
}