<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles_preguntas_frecuentes.css">
    <script async src="https://cse.google.com/cse.js?cx=b0045af66eaa4fc8d"></script>
    <title>Trabajo Final - Le Wagon</title>
</head>
<body>
    <header>
        <div id="header-top">
            ¡Bienvenidos a mi página!
        </div>
    </header>

    <main>
        <section>
                <h1>Preguntas Frecuentes</h1>
                <article>
                    <h3>¿Qué es esta página?</h3>
                    <p>Es un proyecto final de un curso introductorio al desarrollo de páginas web.</p>
                    <h3>¿Cuál era la temática?</h3>
                    <p>Era de temática libre.</p>
                    <h3>¿Quién la hizo?</h3>
                    <p>Mi nombre es Noelia Elizabeth Núñez Mac Loed. Pueden consultar otros proyectos en los que estoy trabajando en mi <a href="https://github.com/Noelia-Elizabeth" target="_blank">GitHub</a>.</p>
                </article>
        </section>
    </main>

    <footer>
        <div>Todos los derechos reservados a <a href="https://github.com/Noelia-Elizabeth" target="_blank">Noelia Elizabeth Núñez Mac Leod</a>.</div>
    </footer>
</body>
</html>